html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  color: #4a4a4a;
}

main {
  width: 560px;
  margin: 0 auto;
}

@media (max-device-width: 560px) {
  main {
    width: 100%;
  }
}

header {
  margin: 40px 0 60px 0;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  color: #3d75b6;
}

h2 {
  font-size: 18px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 4px;
}

section {
  margin-bottom: 40px;
}

.name {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-bottom: 4px;
}

.name-en {
  color: #9b9b9b;
  margin-top: 0;
  margin-bottom: 12px;
}

.aka {
  margin-top: 0;
}
